<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List of Smoothies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>

<body>

<div class="container text-center">

    <div><h1>Smoothie</h1></div>
    <div>
        <h1>Add new Smoothie</h1>
        <form action="#" th:action="@{/ui/smoothie}" method="post" th:object="${smoothie}">
            <label>Name:</label>
            <input type="text" th:field="*{name}" /><br/>

            <label>Size:</label>
            <input type="number" th:field="*{size}" /><br/>

            <label>Select base:</label><br/>

            <select th:field="*{base}">
                <option th:each="base : ${baseCollection}" th:value="${base.id}" th:text="${base.name}"/>
            </select><br/>

            <label>Select ingredients (press ctrl and select as much ingredients as you need):</label><br/>

            <select th:field="*{ingredients}" size="10" multiple="multiple">
                <option th:each="ingredient : ${ingredientCollection}" th:value="${ingredient.id}" th:text="${ingredient.name}"/>
            </select><br/>

            <button type="submit">Save</button>
        </form>
        <h1>Delete an existing smoothie</h1>
        <form action="#" th:action="@{/ui/smoothie}" th:method="delete" th:object="${smoothie}">
            <label>Smoothie id:</label>
            <input type="text" th:field="*{id}" /><br/>
            <button type="submit" class="btn">Delete smoothie with given id</button>
        </form>

        <h1>List of available smoothies</h1>
        <table class="table table-bordered">
            <thead class="thread-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Base</th>
                    <th>Ingredients</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="smoothie : ${smoothieCollection}">
                    <tr>
                        <td th:text="${smoothie.id}"></td>
                        <td th:text="${smoothie.name}"></td>
                        <td th:text="${smoothie.size}"></td>
                        <td th:text="${smoothie.base}"></td>
                        <td th:text="${smoothie.ingredients}"></td>
                    </tr>
                </th:block>
            </tbody>

        </table>
    </div>


</div>

</body>
</html>